<script type="text/javascript">adjustFooterPos();</script>
<div id="foot">
  <div id="foot-wrapper">
    <div id="copywrite">
      Маф-клуб "10-негритят", 2011.
    </div>
  </div>
</div>
<div id="vk_api_transport"></div>
<script type="text/javascript">
  window.vkAsyncInit = function() {
    VK.init({
      apiId: {{VKONTAKTE_APP_ID}}
    });
    if ($('#vk_comments').length != 0){
        VK.Widgets.Comments("vk_comments", {limit: 10, width: "620", attach: "*"});
    }
  };

  setTimeout(function() {
    var el = document.createElement("script");
    el.type = "text/javascript";
    el.src = "http://vkontakte.ru/js/api/openapi.js";
    el.async = true;
    document.getElementById("vk_api_transport").appendChild(el);
  }, 0);
</script>
</body>
</html>