  
    <link href={{MEDIA_URL}}/css/styles.css rel="stylesheet" type="text/css">
    <link href={{MEDIA_URL}}/css/slideshow.css rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{MEDIA_URL}}/js/base.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery-1.2.6.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.aslideshow.min.js"></script>
    <script type="text/javascript" >
      $(function(){
        setTimeout(function() { $('#screen1').hide(); $('#screen2').show();  }, 1000);
      });
    </script>
    <script type="text/javascript" >
      function authInfo(response) {
        if (response.session) {
          next = window.location;
          window.location = '/login/?mid=' + response.session.mid + '&next=' + next;
        } else {
          alert('not auth');
        }
      }
  </script>
  </head>
  
  <body>
  
    <div id="head">
      <div id="head-wrapper">
        <div id="menu">
          <div id="menu-wrapper">
            <a href="/" onclick="">Главная</a>&nbsp;&nbsp;
            <a href="/about/" onclick="">О клубе</a>&nbsp;&nbsp;
            <a href="javascript: void(0)" onclick="">Правила</a>&nbsp;&nbsp;
            <a href="javascript: void(0)" onclick="">Стать участником</a>
          </div>
        </div>
      </div>
  </div>