body,html{     
background-color:#eeea6a;
z-index:-1;
font-family: "Times New Roman";
height:100%;
width:100%;
margin:0px;
padding:0px;
font-size: 17px;
}

#head{
width:100%;
height:95px;
padding-top:88px;
background:url(images/header.png) repeat-x;
}

#menu{
float: right;
padding:11px;
width:446px;
height:45px;
background:url(images/menu.png) no-repeat;
color:#FFFFFF;
font-size:19px;
}

#menu a{  
  color:#FFFFFF;
  text-decoration: none;   
}

#menu-wrapper{
  padding-left: 10px; 
}

#menu a:hover{
  text-decoration: underline;
}

#left-menu a{
  color: #392C1A;
  font-size: 27px;
  text-decoration: none;  
}

#left-menu a:hover{
  text-decoration: underline;
}

#left-menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#left-menu ul li{
  padding-left: 17px;
  margin-left: -17px;
}

#left-menu ul li:hover{
  background: transparent url(images/li-negr.png) no-repeat center left;    
} 
 

#foot{
bottom:0px;
float:left;
width:100%;
padding-top:95px;
height:71px;
background:url(images/footer.png) repeat-x;
}

#copywrite{
padding:10px;
padding-left:20px;
width:472px;
height:48px;
background:url(images/copywrite.png) no-repeat;
color:#FFFFFF;
font-size:25px;
}


Table h2{
font-size:30px;
color:#392C1A;
font-weight: normal;
margin: 7px 0;
}

.content_img{
  padding:4px;
  background-color:#EEECA9;
  border:solid #7B4C2C 2px;
}

#slide-container{
  margin-top: 10px;
  padding:4px;
  background-color:#EEECA9;
  border:solid #7B4C2C 2px;
}

.left{
border-right:#7B4C2C solid 2px;
width:150px;
min-width:150px;
}
.right{
border-left:#7B4C2C solid 2px;
width:150px;
min-width:150px;
}

#content_head{

}

.right div{
margin-left:20px;
font-size:23px;
}

#content_wrapper, #head-wrapper, #foot-wrapper{
width: 970px;
margin-left: auto;
margin-right: auto;
}

#content{
  padding: 0 20px;
}


#cell{
width:100%; 
}

#cell p{

}

#nigers{
 float: right;
 padding-right: 30px;   
}

#page_title{
  float: left;
}

#page_title h1{
  font-size: 40px;
  font-weight: normal;
}

#left a{color:black; text-decoration:none;}

#extramenu{
  padding-top: 25px;
}

#extramenu h3{
  font-weight: normal;
  margin: 5px 0;  
}

#extramenu a{
  color: rgb(57,44,26);
}

#extramenu a:hover{
  text-decoration: none;
}

.left{
padding-right: 5px;
}

.divider{ border-bottom: 1px solid rgb(123,76,44);} 
