{% extends 'blogbase.html' %}

{% load blogtags %}

{% block blogmenu %}
{% if user.is_authenticated %}
<div id="menulet">
	<h3>Меню блога</h3>
	<a href="/admin/blog/entry/{{entry.id}}/">Редактировать пост</a>
</div>
{% endif %}
{% endblock %}


{% block page_title %}
{{entry.title}}
{% endblock %}


{% block content %}	
			
	<div>

				{% comment %}
					<div id="postimage">
						<img src="/site_media/{{entry.postimage}}" alt="{{entry.title}}" />
					</div>
				{% endcomment %}
				
					<div align="right" class="publish_date">Опубликовано {{ entry.pub_date|date:"d.m.Y" }}</div>
				{% comment %}
					<div id="blog_content">
						<b>{{ entry.excerpt_html|safe }}</b>
					</div>
        {% endcomment %}	
	
	{{ entry.body_html|safe }}
	</div>
	<div class="divider"></div>
	<p><b>Категории:</b>
	{% for category in entry.categories.all %}
		{{ category.title }}
	{% endfor %}
	</p>
	<p><b>Метки:</b> {{ entry_tags|blogtags }}</p>
	
	<div id="vk_comments"></div>
	<script type="text/javascript">
	VK.Widgets.Comments("vk_comments", {limit: 10, width: "620", attach: "*"});
	</script>
{% endblock %}
