	{% for entry in entry_list.object_list %}
	     {% comment %}
					<div id="postimage">
						<a href="{{ entry.get_absolute_url }}">
							<img src="/site_media/{{entry.small_img_url}}" alt="{{entry.title}}" border="0" />
						</a>
					</div>
				{% endcomment %}
				<div class="blog_content">
					<a style="text-decoration: none" href="{{ entry.get_absolute_url }}">
						<h2>{{ entry.title }}</h2>
					</a>
					<div align="right" class="publish_date">Опубликовано {{ entry.pub_date|date:"d.m.Y" }}</div>
					{% if entry.excerpt_html %}
						{{ entry.excerpt_html|safe }}
					{% else %}
						{{ entry.body_html|truncatewords_html:"50"|safe }}
					{% endif %}
				</div>
				
				<div class="divider"></div>
	{% endfor %}
	
<div class="pagination" align="right">
    <span class="step-links">
        {% if entry_list.has_previous %}
            <a href="?page={{ entry_list.previous_page_number }}">&lt;Пред.</a>
        {% endif %}

        <span class="current">
		Страница {{ entry_list.number }} из {{ entry_list.paginator.num_pages }}.
        </span>

        {% if entry_list.has_next %}
            <a href="?page={{ entry_list.next_page_number }}">След.&gt;</a>
        {% endif %}
    </span>
</div>